.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

img {
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}

.img-helper {
  position: relative;
  top: 8px;
}

.display-box {
  display: -webkit-box;
}
