.home-title {
  font-size: 8em;
  font-weight: 700;
  margin: 0;
  color: #fff;
  background: linear-gradient(to bottom, #fff 35%, #4e6773 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
