.home-title {
  font-size: 8em;
  font-weight: 700;
  margin: 0;
  color: #fff;
  background: linear-gradient(to bottom, #fff 35%, #4e6773 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes c {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.moving-hearts {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 250.625em;
  height: 50em;
  animation: c 80s linear infinite;
}
